#envelope{
    height: 75px;
    width: 75px;
}

#searchBar{
    width:500px;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}

#search{
    width:500px;
    height:50px;
    font-size:30px;
}


#glass{
    display:inline-block;
    height:18px;
    width:18px; 
    align-content: right;
    position:absolute;
    top:0px;
    left:0px;
}

#topBar{
    background-color: rgb(226, 84, 84);
}

#topWord{
    display:inline-block;
    font-size:35px;
}