
/* top section bar  */
#envelope{
    height: 75px;
    width: 75px;
}


#topBar{
    background-color: rgb(226, 84, 84);
}

#topWord{
    display:inline-block;
    font-size:35px;
}

/* search bar stuff */

#searchBar{
    width:500px;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-55px;
    position: relative;
}

#search{
    width:500px;
    height:50px;
    font-size:30px;
}


#glass{
    height:30px;
    width:30    px; 
    position:absolute;
    margin-left:450px;
    margin-top:10px;
    top:0px;
    left:0px;
}

/* sidebar stuff  */
#sidebar{
    border-style: solid;
    width:200px;
}