
/* top section bar  */
#envelope{
    height: 75px;
    width: 75px;
}


#topBar{
    background-color: rgb(226, 84, 84);
}

#topWord{
    font-family: 'Acme', sans-serif;
    display:inline-block;
    font-size:35px;
    
}
#bell{
    height: 50x;
    width: 50px;
    margin-left:140%;
    margin-top:-12%;
}
#userImage{
    height: 75px;
    width: 75px;
    margin-left:155%;
    margin-top:-15%;
}

/* compose button stuff */
#compose{
    font-size:35px;
    height:500x;
    width:175px;
    border-radius: 20px;
    border-width:3px;
    margin-left:4%;
}
/* search bar stuff */

#searchBar{
    width:500px;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-55px;
    position: relative;
}

#search{
    width:500px;
    height:50px;
    font-size:30px;
    font-family: 'Noto Sans SC', sans-serif;
    border-radius:7px;
}


#glass{
    height:30px;
    width:30px; 
    position:absolute;
    margin-left:450px;
    margin-top:10px;
    top:0px;
    left:0px;
}

/* sidebar stuff  */
#sidebar{
    border-style: solid;
    border-width: 1px;
    width:200px;
}

.sidebarItems:hover{
    background-color: gray;
    
}

#counter{
    /* border:solid;
    border-width:1px; */
    width:40px;
    margin-left: 45%;
    margin-top:-11%;
}

/* user box adjust */
#userBox{
    margin-top:3%;
    border:solid;
    width:200px;
   
    border-width:1px;
    padding-bottom: 20px;
    border-radius:7px;
    
}
#userImageTwo{
    margin-bottom:-10%;
    margin-left:2%;
    height:45px;
    width:45px
}

/* types of email stuff */
#types{
    background-color: blue;
    width:1050px;
    margin-left:17%;
    margin-top:-25%;
}
.typeBox{
    font-size:25px;
    border:solid;
    border-width:1px;
    border-radius: 7px;
    display:inline;
    
}

.typeBox:hover{
    background-color: rgb(214, 209, 209);
}



/* email box stuff */
#main{
    margin-left:17%;
    overflow-y: auto;

}
.who, .newWho{
    border:solid;
    border-width:1px;
}

.what, .newWhat{
    border:dotted;
    border-width:1px;
}

.when, .newWhen{
    border:dashed;
    border-width: 1px;
}

.message, .newMail{
    display:none;
    
}